* {
  
  margin: 0;
}

body {
    /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1F2039;
  }

a{
    color:#242424;
    text-decoration: none;
}

em {
    color: #a5b4fc;
    font-style: normal;
  }  


h1{
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserra', sans-serif; 
}

h2{
  color:#F9F8FF;
}

p, li
{
    font-size: 1.1em;
    color:#F9F8FF;

}

 /* .tete, 
.pied --> devenus header et footer (ci-dessous) pour faciliter le travaille de programmation.
{
  background-color: white;
  padding-left: 50px;
  padding-top: 20PX;
  padding-right: 50PX;
  padding-bottom: 20px;
} */

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

.mini_case{
  display: inline-block;
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
  padding: 20px 30px;
}

a:hover  /* Ici le but est de sousligner les liens au survol grâce à la fonction hover*/
{
  text-decoration: underline; 
}

.mini_case:hover{
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

/* .icone_direction:hoover --> devenu "icon-link là encore pour faciliter le travail de programmation du site
{ 
  opacity: 0.5;
}*/
.icon_link{
  margin-left: 30px;
}

.icon_link:hover{
  opacity: 0.5;
}

.bloc {
  padding: 50px;
  margin-bottom: 80px;
  border-right: 1px solid #8e86b5;
  border-bottom: 1px solid #8e86b5;
 
}

.bloc h2 {
  margin-top: 30px;
}

.bloc ul {
  margin-top: 30px;
  /* color:#1F2039; */
}

.bloc + div {
  text-align: center;
}
 
section {
  padding: 80px;
}

.a_propos_page{
  width: 50%;
  margin: auto;
}

footer,
nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin-left: 30px;
} 

/* TOUT CE QUI EST DESSOUS EST supprimé car 3 autres pages CSS ont été créées pour répondre aux besoins différents des pages HTML qui ont été créées( robbie-lens-site.css - a-propos.css -  portfolio.css).
.photo_d_accueil{
  background-color: white;
  padding: 80px;
}

.photo_d_accueil h2{
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.photo_d_accueil div {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-bottom: 15px;
}

.accueil_intro{
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

.accueil_intro h1 {
  margin-bottom: 15px;
}

.accueil_intro p {
  margin-bottom: 30px;
}

.accueil_intro div {
  padding-right: 80px;
}

.portfolio_lieu_photos {
  background-color: white;
}

.portfolio_lieu_photos h2 {
  color: #242424;
  margin-bottom: 80px;
}

.grid-paysages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 15px;
}

.grid-portraits{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px ;
  gap: 15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  
  object-fit: cover; CETTE PROPRIéTé PERMET AUX IMAGES DE RESPECTER LES DIMENSION DE GRID CSS

}


.photo_link {
  position: relative;
}

.survol {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.photo_link:hover .survol {
  display: flex;
}

*/
